html, body {
	width: 100%;
	box-sizing: border-box;
			 
}


div {
	width: 200px;
	height: 120px;
	background-color: #800080;
	margin: 20px auto;

}



.one {
	
 	 	
 	 	
}
.two {
	transform: scaleX(1.2); 	
 		
}
.three {
	
 	 	
}
.foor {
	transform: rotate(8deg);
}
.five {
	
}
.six {
	transform: translate(25px,25px);
}
