.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.container {
	width: 1170px;
	box-sizing: border-box;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

p {
    color: red;
	font-size: 20px;
}

.container_img {
	width: 25%;
	display: block;
 	float: left; 	
}

@media (min-width: 1200px) and (max-width: 1600px){
	.container {
		width: 1170px;
	}	
	p {
		font-size: 16px;
	    color: #008000;
	}	
	.container_img {
		width: 33%;
	}	
}

@media (min-width: 992px) and (max-width: 1199px){
	.container {
		width: 970px;
	}	
	p {
		font-size: 14px;
	    color: purple;
	}	
	.container_img {
		width: 33%;
	}	
}

@media (min-width: 768px) and (max-width: 991px){
	.container {
		width: 750px;
	}	
	p {
		font-size: 16px;
	    color: #000;
	}	
	.container_img {
		width: 50%;
	}	
}

@media (min-width: 320px) and (max-width: 767px){
	.container {
		width: 100%;
	}	
	p {
		font-size: 16px;
	    color: yellow;
	}	
	.container_img {
		width: 100%;
	}	
}
