@font-face {
	font-family: KristenITCRegular;
	src: local("KristenITCRegular"),
	url("../fonts/Kristen-ITC-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
/*
----section_one
*/


.section_one {
	width: 100%;	
    background-image: url(../img/fon.png);    
    background-size: cover;
    padding-bottom: 200px;	
	box-sizing: border-box;
}

.container {
	width: 1170px;
	margin: 0 auto;	
	position: relative; 
	padding-top: 30px;
	padding-bottom: 100px;
}

.logotype a{
	width: 30%;
	float: left;   
    box-sizing: border-box;
	text-decoration: none;
}
.picture {
	
	background: url(../img/logo.png);
	background-repeat: no-repeat;	
    
}	

/*
.picture::after {
    content: "BerryShop";    
    font-size: 20px;
	color: #f96257;
	font-family: KristenITCRegular;
	text-decoration: none;	
}
*/

.menu {
	width: 50%;
	float: right;
}

.clearfix::after {
	content: "";
    display: block;
    clear: both;
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

li a {
	width: 16%;	
	font:300 14px 'Poppins', sans-serif;
	float: left;	
	text-decoration: none;	
	color: #000;
}

i  {
	color: #d40e00;
}

.bottom {
	width: 10%;
	text-align: center;
	background: #FFFFFF;	
	list-style: none;
	clear: both;
	letter-spacing: 0.7;
	padding: 11px 27px;    
}

.active {    
	color: #f96257;
	font:300 14px 'Poppins', sans-serif;
	text-decoration: none;
}

/*
-----section_two
*/


.section_two {
    width: 100%;	
    background-color: #FFFFFF;    
    background-size: cover;
    padding-bottom: 200px;	
	box-sizing: border-box;
}

.container2 {
    width: 1170px;
	margin: 0 auto;	 
	padding-top: 175px;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.block1 {
    width: 44%;
    font:300 14px 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}


span {
    color: #f96257; 
}

.bottoms {
    width: 84%;
    margin: 0 auto;
    padding-bottom: 112px;
}

.box1 a{
	width: 16%;
    font:300 14px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;    
    padding: 17px 10px;
    background-color: #d8da77;
    margin-left: 14px;
    border-radius: 3px; 
}

.box2 a{
	width: 16%;
    font:300 14px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 17px 10px;
    background-color: #a7ad27;
    border: 0 solid transparent; 
    border-radius: 3px;
    margin-left: 14px;
}

.box3 a{
	width: 16%;
    font:300 14px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 17px 10px;
    background-color: #f96257; 
    border-radius: 3px;
    margin-left: 14px;
}

.strawberry1 {
	width: 70%;
	box-sizing: border-box;
	margin: 0 auto;

	background-image: url(../img/strawberry_medium.png)center center;
}

.footer {
  width: 
}