@font-face {
	font-family: KristenITCRegular;
	src: local("KristenITCRegular"),
	url("../fonts/Kristen-ITC-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

.section_one {
	width: 100%;	
    background-image: url(../img/fon.png);
    
    background-size: cover;
    padding-bottom: 710px;	
	box-sizing: border-box;
}

.container {
	width: 1170px;
	margin: 0 auto;
	
	
	background-position: center center;
	padding-top: 30px;
}



.logotip {
	width: 170px;
	text-decoration: none;
    
    box-sizing: border-box;
	padding-bottom: 50px;
	

}

.picture {
	width: 56px;
	background: url(../img/strawberry_logotip.png);
	background-repeat: no-repeat;
    padding-bottom: 50px;
	float: left;
}
.string {
	font-size: 20px;
	color: #f96257;
	font-family: KristenITCRegular;
	padding-top: 14px;
	text-decoration: none;
	float: right;
}

.menu {
	width: 50%;
float: right;
}

.clearfix::after {
	content: "";
    display: block;
    clear: both;

}




ul {
  width: 515px;
}

li {
	width: 100%;
	
	font:300 14px 'Poppins', sans-serif;
	list-style-type: none;
	float: right;
}


.cart {
	color: #d40e00;
}



a {
	width: 170px;
	background: #FFFFFF;
	text-decoration: none;
	padding: 6px 4px;
	color: #f96257;
	font:300 14px 'Poppins', sans-serif;
	text-align: center;
}

