@font-face {
	font-family: GothamProBlack;
	src: local("GothamProBlack"),
	url("../fonts/GothamProBlack.ttf");
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: GothamProLight;
	src: local("GothamProLight"),
	url("../fonts/GothamProLight.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: GothamPro;
	src: local("GothamPro"),
	url("../fonts/GothamPro.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: GothamProMedium;
	src: local("GothamProMedium"),
	url("../fonts/GothamProMedium.ttf");
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	
}


.body {	
	width: 940px;
	margin: 10px auto;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;	
}

.block_left {
	width: 400px;
	box-sizing: border-box;	
	background-image: url(../img/fon-red.png);	
	float: left;	  
}

.white {
	width: 270px;
	background-color: #FFFFFF;	
	margin: 92px 63px;	  
	padding: 134px 0;
	border-radius: 8px;
	position: relative;
}	

.picture {
	height: 59px;
	width: 52px;
	background-image: url(../img/dzin.png);
	position: absolute;	
	top: -20px;
	right: -10px;
}   
	
.orange {
	background-image: url(../img/yellow-block.png);
	width: 280px;	
	
	position: absolute;
	margin: 74px -5px;
	padding: 26px 0;		
	
}

.oranges {	
	position: absolute;
	width: 280px;
	background-image: url(../img/for-yellow-block.png);
	margin: -22px 0px;
	padding: 26px 0;	
}

.p1 {
	font-family: GothamProBlack;	
	font-size: 16px;
	color: #575b66;
	position: absolute;
	margin: -107px 86px;
}

.p2 {	
	font-family: GothamProLight;
	font-size: 52px;
	color: #9aaf4e;
	position: absolute;
	margin: -54px 69px;
}

.p3 {
	font-family: GothamPro;
	font-size: 14px;
	letter-spacing: 0.13px;
	color: #8a8e99;
	position: absolute;
	margin: 10px 56px;
}

.p4 {
	font-family: GothamProMedium;
	font-size: 16px;
	color: #876c27;
	position: absolute;
	margin: -13px 51px;
}	
			
	
.block_right {
	width: 540px;
	background: #FFFFFF;
	box-sizing: border-box;	
	float: right;
}

.block1 {
	font-family: GothamPro;
	font-size: 16px;
	color: #8a8e99;
	line-height: 1.5;	
    margin-top: 54px;
    margin-left: 61px;
    margin-right: 50px;
    margin-bottom: 10px;  
}

.sentence {
	font-family: GothamProMedium;
}

.block2 {
	position: relative;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 12px;
}

.text {	
	font-family: GothamPro;
	font-size: 14px;
	color: #8a8e99;	
	text-transform: uppercase;
	margin-top: -21px;
    margin-left: 12px;
    float: left;
    position: absolute;		
}

.sprint {
	height: 26px;
	width: 130px;
    background-image: url(../img/skrine_sing.png);
    margin-top: -27px;
    margin-left: 182px;
    position: absolute;    
}

.block3 {
	background: #6fa93d;	
	border-radius: 27px;
	position: relative;	
	padding-top: 54px;	
	margin-top: 28px;
	margin-left: 59px;	
	margin-right: 203px;
	display: block; 
}

.buy {
	font-size: 16px;
    font-family: "GothamPro";
  	color: #FFFFFF;    
    margin: -36px 51px;	
    position: absolute;	
}

.block4 {
	font-size: 16px;
    font-family: "GothamPro";
    color: #575b66;
    line-height: 1.5;
    margin-top: 33px;
	margin-left: 62px;
	margin-right: 40px;
	margin-bottom: 29px;
}

.a:hover {
	text-decoration: none;
}

.block5 {
	background: #fac746;	
	border-radius: 27px;		
	padding-top: 46px;	
	margin-top: -26px;
	margin-left: 60px;
	margin-bottom: 61px;
	margin-right: 281px; 
}

.order {
	font-size: 14px;
    font-family: "GothamPro";
  	color: #876c27;    
    margin: -33px 39px;     	
}

.Для_тех__кто_не_ищет_окольных_путей {
  font-size: 42px;
  font-family: "GothamPro";   //Medium
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 964.064px;
  top: 395.646px;
  z-index: 531;
}
.в_любых_мероприятиях_со_скидкой_до_92_ {
  font-size: 30px;
  font-family: "GothamPro";  // Regular
  color: rgb(55, 176, 201);
  line-height: 0.733;
  text-align: left;
  position: absolute;
  left: 618.844px;
  top: 262.833px;
  z-index: 530;
}
.безлимитного_участия {
  font-size: 60px;
  font-family: "GothamPro";   //Bold
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0.367;
  text-align: left;
  position: absolute;
  left: 597.937px;
  top: 205.708px;
  z-index: 529;
}
._365__дней {
  font-size: 60px;
  font-family: "GothamPro"; // Bold
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0.367;
  text-align: left;
  position: absolute;
  left: 788.837px;
  top: 128.488px;
  z-index: 528;
}
.Заказать_безлимит {
  font-size: 24px;
  font-family: "GothamPro"; // Black
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.917;
  text-align: left;
  position: absolute;
  left: 996.834px;
  top: 736.496px;
  z-index: 526;
}
.Тотальный_безлимит_на_весь_2016_год_и_даже_больше_ {
  font-size: 30px;
  font-family: "GothamPro";   // Regular
  color: rgb(55, 176, 201);
  line-height: 1.6;
  text-align: left;
  position: absolute;
  left: 965.964px;
  top: 596.828px;
  z-index: 521;
}

.columns_without_gutter {
  background-image: url("columns without gutter.png");
  opacity: 0.102;
  position: absolute;
  left: 380px;
  top: 0px;
  width: 1140px;
  height: 13547px;
  z-index: 534;
}
.Фон {      //body
  background-color: rgb(48, 63, 159);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1900px;
  height: 1103px;
  z-index: 545;
}
.Спутник {
  background-image: url("Спутник.png");
  position: absolute;
  left: 180px;
  top: 158px;
  width: 196px;
  height: 160px;
  z-index: 548;

}
  человек
  width: 296px;
  height: 716px;
  left: 542px;
  top: 369px;

  .Планета {
  background-image: url("Планета.png");
  position: absolute;
  left: 1654px;
  top: 332px;
  width: 141px;
  height: 84px;
  z-index: 549;
}
.Прямоугольник__скругл__углы_5_копия {
  border-radius: 5px;
  background-color: rgb(255, 22, 30);
  position: absolute;
  left: 966px;
  top: 712px;
  width: 344px;
  height: 71px;
  z-index: 555;
}

земля

width: 837px;
  height: 833px;
  left: 532px;
  top: 914px;


весь макет
  width: 1900px;
  height: 13747px;



  .block1 {
	width: 1900px;
	background-color: rgb(48, 63, 159);
    position: absolute;
	box-sizing: border-box;	
		  
}

.stars {
	
	width: 1900px;	
	background-image: url("../img/Untitled-5.png");    
    left: 0px;
    top: 0px;
	margin: 0 auto;
}	

.block2 {
	width: 401px;
	background-color: rgb(255, 0, 0);
    position: relative;
	box-sizing: border-box;	
	margin: 0 auto;
}
.Sputnik {
  background-image: url("../img/Untitled-1.png");
  position: absolute;
  float: left;
  margin: 0 auto;
 /*
 .body {  
  width: 1900px;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;

}

.block1 {
  width: 1900px;
  background-color: rgb(48, 63, 159);
    position: absolute;
  box-sizing: border-box; 
  margin: 0px 0px;    
  padding: 0px 0;
  overflow: hidden;
}

.stars {
  
  width: 1837px;  
  background-image: url("../img/Untitled-5.png");    
    padding: 112px 0;
  margin-left: 39px;
  margin-top: -1px; 
}
.Sputnik {
  width: 196px;
  background-image: url("../img/Untitled-1.png");
    float: left;
  box-sizing: border-box; 
  margin-left: 140px;
  margin-top: 44px; 
  padding: 80px 0;
}
.block2 {
  width: 1140px;
  position: absolute;
  box-sizing: border-box; 
  margin: 0 auto;   
  overflow: hidden;
}
*/

.bottom {
	width: 50%;
	border-radius: 5px;
    background-color: rgb(255, 22, 30); 			
	padding-left: 600px;
	padding-top: 55px;
}

