p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	line-height: 25px;
	font-weight: 800;
	color: #FFFFFF;
}

@media (min-width: 767px) and (max-width: 992px){
	p {
		font-size: 9.5px;
	}
}
@media (max-width: 767px){
	p {
		font-size: 9px;
	}
}

.text-orange {
	color: #f7600e;	
}

.section-1 {
	background-image: url(../img/fon-sec-one.png);
	padding-top: 48px;
	padding-bottom: 48px;	
}

.header {
	padding-bottom: 152px;
}

.menu p {
	float: left;
	margin-right: 15px;
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 2px;	
}

.menu-icon {
	float: right;
}

.pull-none {
	float: none;
}

.main-text {
	font-size: 7rem;
	line-height: 60px;
	padding-bottom: 25px;
}

.text-lorem {
	font-size: 2.5rem;
	line-height: 43px;
	padding-bottom: 58px;
}

.buttons {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 195px;	
}

.buttonl {
	border: 1px solid rgba(255, 255, 255, 0.31);
	border-radius: 10px;
	min-width: 200px;
	padding: 16px 72px;	
	color: #FFFFFF;
	float: left;
}

.buttonr {
	border: 1px solid rgba(255, 255, 255, 0.31);
	border-radius: 10px;
	min-width: 200px;		
	padding: 16px 56px;
	color: #FFFFFF;
	float: right;
}

.buttonl:hover {
	background-color: #f7600e;		
	text-decoration: none;
	border-color: #f7600e;
	color: #FFFFFF;
}

.buttonr:hover {
	background-color: #f7600e;	
	text-decoration: none;
	border-color: #f7600e;
	color: #FFFFFF;		 
}

@media (max-width: 992px){
	.header {
	padding-bottom: 70px;
}
	.buttons{
		margin-bottom: 70px;
	}
}

@media (max-width: 495px){
	.buttonl {
		margin-bottom: 15px; 
	}
	.main-text {
	font-size: 5rem;
}
}


