html, body {
    width: 100%;	
	box-sizing: border-box;	
}

div {
	width: 500px;
	margin: 0 auto;
	background-color: #817F7E;
	border: 4px solid #000;		
	font-size: 20px;
	font-family: Arial;			
	text-align: center;
	padding-bottom: 10px;
	padding-top: 12px;
	margin-bottom: 20px;
	transition: 3s linear;
	cursor: pointer;
}

a {	
	text-decoration: none;
	color: #FFFFFF;	
}

.one:hover {	
	background-color: #D3E537;
}

.colors:hover {
	color: #000;	
}


.two:hover {
  width: 400px;
} 	

.three:hover {
	opacity: 0.1; 	 	
}

.foor:hover {	
    transform: rotate(360deg);
}

.five:hover {
	transform: scale(2);
}

.six:hover {
	transform: translate(0px,50px);
}
