@font-face {
	font-family: HelveticaRegular;
	src: local("HelveticaRegular"),
	url("../fonts/helvetica_regular.ttf");
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: HelveticaBold;
	src: local("HelveticaBold"),
	url("../fonts/9206.otf");
	font-style: normal;
	font-weight: normal;
}




.container {	
	width: 800px;
	margin: 0 auto;	
	background-image: url("../img/fon.png"); 
	box-sizing: border-box;
	background-size: cover;

	padding-bottom: 191px;	
	padding-top: 136px;
	
}

.block1 {
	width: 370px;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
  	background-color: rgba(255, 255, 255, 0.2);
  	opacity: 0.4;
  	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  	
  	margin: 0px auto;	  
	
	border-radius: 8px;
	padding-bottom: 191px;
	
  	
}
.miniblock {
	width: 82px;
	padding-top: 7px;
	margin: 0 auto;
	border-style: solid;
  	border-width: 1px;
  	border-radius: 8px;
  	border-color: rgb(255, 255, 255);
  	background-color: rgb(16, 16, 16);
  	opacity: 0.4;
  	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  	margin-top: 27px;

	
	
}
.text1 {
    margin-top: 37px;
    font-size: 17px;
    font-family: "HelveticaBold";
    color: rgb(255, 255, 255);  
    line-height: 1.167;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 50px;
  
}

a {
	
	border-radius: 5px;
	border-style: groove;	
    background-color: #a7c685;
	font-size: 14px;
	font-family: "HelveticaBold";		
	color: rgb(255, 255, 255);
	padding: 10px 116px;
	text-align: center;
	text-decoration: none;
	margin-top: 37px;

}	
