.section-1 {	
	background: url(../img/fon-sec-1.png) no-repeat;
	padding-top: 32px;
	background-size: cover;
}

.header {
	padding-bottom: 72px;
	@extend %for-a;
}

nav {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 20px;	
	   weight: $extrabold;
    }

    .menu {	
        padding-left: 0;
        color: $white;
	    list-style: none;
	    margin-top: 15px;
        margin-bottom: 15px;
        & .menu-li {
            font:{
	            family: 'Open Sans', sans-serif;
	            size: 20px;	
	            weight: $extrabold;
            }
            margin-top: 17px;	
	        margin-left: 34px;		
	        display: inline-block;
        }
        .logotype {
        	margin-top: 0;
        }
        .icon-search {
		    margin-left: 26px;

	    }
        .icon-menu {
		    margin-left: 16px;
        }
	}	
}

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.big {
	width: 116%;
	margin-left: -95px;
	margin-right: -100px;
}

.general-page {	
    @extend %for-a;	
    .foto-man {    	
	    width: 50%;
	    margin-bottom: -115px;
    }
    .box-text {
        width: 44%;	
        display: block;
        padding-bottom: 100px; 
	    & a:hover {
	    	color: $white;
	    	background-color: $orange;
	    }
	}    
}

.upper-text {
    @extend %for-h2;
    padding-top: 10px; 
    line-height: 68px;    
}

.general-text {
	@extend %for-h1;
}

.lower-text {
	@extend %for-h2;
}

.text-lorem {	
	padding-top: 35px;
    padding-bottom: 82px;
	@extend %for-p;
}

.buttons {
	@extend %for-buttons;
	margin-right: 10px;
}


@include desktop {
    .big {
		width: 30%;
        margin-left: 0;
    } 
	.foto-man {
    	width: 30%;	    
	}
    .box-text {
    	width: 30%;

    	.upper-text {
            font-size: 50px;	
	    }
	 	.general-text {
	        font-size: 95px;
	    }    
        .lower-text {
        	font-size: 50px;
        }
        .text-lorem {
        	
        }	
	}
}

@include laptop {
    .foto-man {
    	margin-top: 400px;	    
	}
	.menu-li {
		margin-left: 24px;
	}
}

@include tablet {
    .big {
		width: 100%;
        margin-left: 0;
    } 
	.foto-man {
    	width: 100%;
    	margin-bottom: 0;
    }
    .box-text {
    	width: 100% !important;
        float: none !important;
        padding-top: 100px;
    }
    .menu {
    	
    }
    .logotype {
    	
    }	
}
