.section-2 {
    background: url(../img/fon-sec-2.png) no-repeat center center;
	background-size: cover;		
}

.text-black {
	@extend %for-h2;
	font-size: 43px;
	color: $brown;
	padding-left: 10px;
}

.text-white {
	@extend %for-h2;
	font-size: 68px;
	line-height: 68px;
	margin-bottom: 10px;
	padding-left: 10px;
	background-color: $orange;
}

.skills {
	padding-bottom: 340px;
    padding-top: 182px;
}

.graphic-design {
	display: inline-block;
	padding-top: 71px;
}

.icons {
	
	width: 50%;
	float: left;
    @extend %for-p;
    font-size: 15px;
    line-height: 22px;
    color: $brown;
    padding: 0 41px 100px;
}

.heading-text {
	@extend %for-h3;
	padding-top: 15px;
    padding-bottom: 15px;
}

@include desktop {
    
}

@include laptop {
	
}

@include tablet {
    .skills {
    	width: 54%;
    	text-align: center;
        margin: 0 auto;
        padding-bottom: 0;
        padding-top: 40px;
    }
    .sk {
        text-align: left;
    }
    .graphic-design {
    	width: 100%;
    	margin: 0 auto;
    }
    .icons {    	
        padding: 0px 50px 70px;
    } 
       
}

 @include phone {
     .skills {
    	width: 54%;
    	text-align: center;
        margin: 0 auto;
        padding-bottom: 0;
        padding-top: 20px;
    }
    .text-black {	
	    font-size: 28px;
	    line-height: 45px;
	}
    .text-white {
	    font-size: 26px;
	    line-height: 40px;
	}
    .sk {
        text-align: left;
    }
    .graphic-design {
    	width: 100%;
    	margin: 0 auto;
        padding-top: 30px;
    }
    .icons {
        width: 100%;    	
        padding: 0px 50px 40px;
    } 
 }

 @include iphone {
 	
 }