.section-1 {	
	background: url(../img/fon-sec-1.png) no-repeat;
	padding-top: 16px;
	background-size: cover;
}



.header {
	padding-bottom: 70px;
	@extend %for-a;
}

nav {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 20px;	
	   weight: $extrabold;
    }

    .menu {	
        padding-left: 0;
        color: $white;
	    list-style: none;
	    margin-top: 15px;
        margin-bottom: 15px;
        & .menu-li {
            font:{
	            family: 'Open Sans', sans-serif;
	            size: 20px;	
	            weight: $extrabold;
            }
            margin-top: 17px;	
	        margin-left: 34px;		
	        display: inline-block;
        }
        .logotype {
        	margin-top: 0;
        	margin-left: 0;
        }
        .icon-search {
		    margin-left: 26px;

	    }
        .icon-menu {
		    margin-left: 16px;
        }
	}	
}

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.general-page {	
    @extend %for-a;
   
    .big {
    width: 100%;
	}
    .foto-man {    	
	    width: 50%;
        margin-left: -100px;
	    margin-bottom: -115px;
    }
    .man {     
        
    }
    .box-text {
        width: 50%;
        margin-right: -92px;	
        display: block;
        & a:hover {
	    	color: $white;
	    	background-color: $orange;
	    }
	}    
}

.upper-text {
    @extend %for-h2;
    padding-top: 10px; 
    line-height: 68px;    
}

.general-text {
	@extend %for-h1;
}

.lower-text {
	@extend %for-h2;
}

.text-lorem {	
	padding-top: 35px;
    padding-bottom: 82px;
	@extend %for-p;
}

.buttons {
	@extend %for-buttons;
	margin-right: 10px;
}


@include desktop {
    .box-text {
        .upper-text {
            font-size: 68px;	
	    }
	 	.general-text {
	        font-size: 124px;
	    }    
        .lower-text {
        	font-size: 68px;
        }
    }
}

@include laptop {
    nav {
        width: 100%;
    }
    .menu-li {
        width: 100%;
        margin-left: 28px;
    }
	.big {
		width: 100%;        
    }
    .foto-man {
    	width: 50%;
        margin-left: 0;
    }
    .man {
        width: 100%;
    }
	.box-text {
    	width: 50%;
        float: none;
        margin-right: 0;
        padding-top: 100px;
    }
    .upper-text {
        font-size: 45px;
        line-height: 45px;  
    }
    .general-text {
        font-size: 90px;
        line-height: 100px;
    }    
    .lower-text {
        font-size: 45px;
        line-height: 50px;
    }
	.text-lorem {
    	padding: 15px 15px;
    }
}

@include tablet {
    nav {
        width: 100%;
    }
    .big {
		width: 100%;        
    } 
	.foto-man {
    	width: 100%;
        margin-left: 0;
    	margin-bottom: 0;
    }
    .man {
        width: 100%;
    }
    .box-text {
    	width: 100%;
        margin-right: 0;
        float: none;
        padding-top: 100px;
    }
    .text-lorem {
    	padding: 15px 15px;
    }
}

 @include phone {
 	.header {
        padding-bottom: 30px;
    }
    nav {
        width: 100%;
    }
 	.menu-li {
 		margin-left: 0;
 	}
    .icon-search  {
        margin-left: 0;
    }
    .general-page {
    	padding-bottom: 40px;
    }
    .big {
		width: 100%;
    } 
	.foto-man {
    	width: 100%;
        margin-left: 0;
    	margin-bottom: 0;
        margin: 0 auto;
    }
    .man {
	    width: 100%;
    }
    .box-text {
    	width: 100%;
        margin-right: 0;
        padding-top: 0;
        float: none;
    }
    .upper-text {
        font-size: 35px;
        line-height: 40px;	
	}
	.general-text {
	    font-size: 60px;
	    line-height: 70px;
	}    
    .lower-text {
        font-size: 35px;
        line-height: 47px;
    }
    .text-lorem {
    	font-size: 17px;
    	padding: 15px 15px;
    	padding-bottom: 50px;
    	line-height: 30px;
    }
 }

 @include iphone {
    .section-1 {
        padding-top: 0;
    }
 	.header {
        padding-bottom: 30px;
    }
    nav {
        width: 100%;
    }
    .menu-li {
        margin-left: 0;
        margin-top: 0;
    }
    .logotype {
        width: 43%;
        text-align: left;
    }
    .logo {
        width: 100%;
    }
    .icon-search  {
        margin-left: 0;
        margin-top: 3px;
    }
    .icon-menu {
        margin-left: 0;
        margin-top: 3px;
    }
    .general-page {
        padding-bottom: 40px;
    }
    .big {
        width: 100%;       
    } 
    .foto-man {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .man {
        width: 100%;
    }
    .box-text {
        width: 100%;
        margin-right: 0;
        padding-top: 0;
    }
    .upper-text {
        font-size: 30px;
        line-height: 30px;  
    }
    .general-text {
        font-size: 42px;
        line-height: 50px;
    }    
    .lower-text {
        font-size: 30px;
        line-height: 40px;
    }
    .text-lorem {
        font-size: 15px;
        padding: 5px 5px;
        padding-bottom: 15px;
        line-height: 23px;
    }
    .buttons {
        font-size: 15px;
        padding: 10px 10px;
    }
 }

 /*  */