.section-4 {
    background: url(../img/fon-sec-4.png) no-repeat center center;
	background-size: cover;
	padding-top: 100px;			
}

.section-4 .topic-text {
	span {
	    color: $brown;
    }
    .topic-h2 {
        color: $brown;
        line-height: 53px;
    }
    .specially {
    	@extend %for-h2;
	    font-size: 43px;
	    line-height: 43px;
    	color: $orange;
    }
}

.designers {
	width: 100%;
	display: inline-block;
}


.designer {
	float: left;
	padding-bottom: 80px;
	.designer-h3 {
		@extend %for-h3;
		padding-top: 38px;
	}
	.designer-p {
		@extend %for-p;
		font-size: 22px;
		color: $grey;
	}
}

.alow {
	width: 24%;
	padding-top: 87px;
	margin-right: 15px;
}

.alow-less {
	width: 24%;
	padding-top: 20px;
}

.designer-two {
	width: 24%;
	margin-right: 15px;
}

@include desktop {
    
}

@include laptop {
	
}

@include tablet {
	.section-4 {
		padding-top: 0;
	}
    .designers {
	    width: 100%;
	    display: inline-block;
	    margin: 0 auto;
    }
    .alow {
	    width: 50%;
	    padding-top: 87px;
	    margin-right: 0;
	    padding-bottom: 0;
    }
    .alow-less {
	    width: 50%;
	    padding-top: 20px;
    }

    .designer-two {
	    width: 50%;
	    margin-right: 0;
	    padding-bottom: 90px;
    }
    .designer-three {    	
    	padding-bottom: 30px;
    }
}

 @include phone {
    .section-4 {
		padding-top: 0;
	}
	.topic-text {
		padding-bottom: 15px;
        padding-top: 40px;
	}
    .designers {
	    width: 100%;
	    display: inline-block;
	    margin: 0 auto;
    }
    .designer .designer-h3 {		
		padding-top: 10px;
	}
    .alow {
	    width: 100%;
        display: block;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .alow-less {
	    width: 100%;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .designer-two {
	    width: 100%;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .designer-three {
    	width: 100%;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 0px;
    }
 }

 @include iphone {
 	
 }