.section-3 {
    background: url(../img/fon-sec-3.png) no-repeat center center;
	background-size: cover;
	padding-top: 90px;			
}

.topic-text {
    padding-bottom: 60px;
}

.topic-p {
	margin-bottom: 0;
}

.topic-h2 {
	@extend %for-h2;
	font-size: 43px;
	line-height: 43px;       	 
}

.topic-Lorem {
    @extend %for-p;
    line-height: 24px;
}

.portfolio img {
	vertical-align: top;
   
}

.portfolio {
	display: inline-block;
	padding-bottom: 52px;
	.one {
		float: left;
		width: 49%;
        margin-right: 18px;
	}
	.two {
        width: 23%;    
        margin-right: 18px;
	}
	.three {
		width: 23%;
	}
    .four {
    	width: 48%;
        padding-top: 18px;
    }

}

.choice {
	@extend %for-a;
	padding-bottom: 60px;
}

@include desktop {
    
}

@include laptop {
	.section-3 {
		padding-top: 0;
	}
    .topic-text {
    	width: 100%;
    	text-align: center;
        margin: 0 auto;
        
        padding-top: 40px;
    }
    .topic-Lorem {
	    padding-left: 75px;
        padding-right: 75px;
    }
    .portfolio {
    	width: 100%;
	    display: block;
	    margin: 0 auto;
	    padding-bottom: 52px;
	
	.one {
		width: 80%;
		float: none;
        margin-right: 0;
        padding-bottom: 18px;
	}
	.two {
        width: 39%;    
        margin-right: 10px;
	}
	.three {
		width: 39%;
	}
	.four {
    	width: 80%;
        padding-top: 18px;
    }
    }
}

@include tablet {
	.section-3 {
		padding-top: 0;
	}
    .topic-text {
    	width: 100%;
    	text-align: center;
        margin: 0 auto;
        
        padding-top: 40px;
    }
    .topic-Lorem {
	    padding-left: 75px;
        padding-right: 75px;
    }
    .portfolio {
    	width: 100%;
	    display: block;
	    margin: 0 auto;
	    padding-bottom: 52px;
	
	.one {
		width: 80%;
		float: none;
        margin-right: 0;
        padding-bottom: 18px;
	}
	.two {
        width: 39%;    
        margin-right: 10px;
	}
	.three {
		width: 39%;
	}
	.four {
    	width: 80%;
        padding-top: 18px;
    }
    }
}

@include phone {
    .section-3 {
		padding-top: 0;
	}
    .topic-text {
    	width: 100%;
    	text-align: center;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 0;
    }
    .topic-h2 {
    	font-size: 35px;
    }
    .topic-Lorem {
	    padding-left: 75px;
        padding-right: 75px;
    }
    .portfolio {
    	width: 100%;
	    display: block;
	    margin: 0 auto;
	    padding-bottom: 52px;
	
	.one {
		width: 80%;
		float: none;
        margin-right: 0;
        padding-bottom: 15px;
	}
	.two {
        width: 80%;
        margin-right: 0;    
        padding-bottom: 15px;
	}
	.three {
		width: 80%;
		padding-bottom: 15px;
	}
	.four {
    	width: 80%;
        padding-top: 0;
    }
    }
}

@include iphone {
 	.section-3 {
		padding-top: 0;
	}
    .topic-text {
    	width: 100%;
    	text-align: center;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 0;
    }
    .topic-h2 {
    	font-size: 30px;
    }
    span {
    		font-size: 20px;
    }
    .topic-Lorem {
    	font-size: 15px;
	    padding-left: 15px;
        padding-right: 15px;
    }
    .portfolio {
    	width: 100%;
	    display: block;
	    margin: 0 auto;
	    padding-bottom: 30px;
		.one {
		    width: 80%;
		    float: none;
            margin-right: 0;
            padding-bottom: 15px;
	    }
	    .two {
            width: 80%;
            margin-right: 0;    
            padding-bottom: 15px;
	    }
	    .three {
		    width: 80%;
		    padding-bottom: 15px;
	    }
	    .four {
    	    width: 80%;
            padding-top: 0;
        }
    }
    .choice {
    	padding-bottom: 30px;
    }
}