.section-2 {
    background: url(../img/fon-sec-2.png) no-repeat center center;
	background-size: cover;		
}



.skills {
    padding-bottom: 340px;
    padding-top: 182px;
    .text-black {
        @extend %for-h2;
        font-size: 43px;
        color: $brown;
        padding-left: 10px;
    }
    .text-white {
	   @extend %for-h2;
       margin-bottom: 10px;
	   padding-left: 10px;
	   background-color: $orange;
    }
}

.graphic-design {
	display: inline-block;
	padding-top: 71px;
}

.icons {	
	width: 50%;
	float: left;
    @extend %for-p;
    font-size: 15px;
    line-height: 22px;
    color: $brown;
    padding: 0 41px 100px;
}

.heading-text {
	@extend %for-h3;
	padding-top: 15px;
    padding-bottom: 15px;
}

@include desktop {
    
}

@include laptop-plus {
    
}

@include laptop {
    .skills {
        width: 40%;
    }    
    .graphic-design {
        width: 60%;
    }
}

@include tablet {
    .skills {
    	width: 54%;
    	text-align: center;
        margin: 0 auto;
        padding-bottom: 0;
        padding-top: 40px;
        .text-white {
            font-size: 48px;
            line-height: 48px;
            padding-left: 0;
            margin-bottom: 15px;
        }
    }
    .graphic-design {
    	width: 100%;
    	margin: 0 auto;
        .icons {    	
            padding-bottom: 35px;
        }
    } 
}

 @include phone {
     .skills {
    	width: 65%;
    	text-align: center;
        margin: 0 auto;
        padding-bottom: 0;
        padding-top: 20px;
        .text-black {	
	        font-size: 30px;
	        line-height: 45px;
	    }
        .text-white {
	    font-size: 35px;
	    line-height: 40px;
        padding-left: 0;
	    }
    }
    .graphic-design {
    	width: 100%;
    	margin: 0 auto;
        padding-top: 30px;
        .icons {
            width: 100%;    	
            padding-bottom: 25px;
        }
    } 
}

 @include iphone {
    .skills {
        width: 65%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 0;
        padding-top: 20px;
        .text-black {   
            font-size: 28px;
            line-height: 45px;
        }
        .text-white {
            font-size: 34px;
            line-height: 40px;
            padding-left: 0;
        }
    }
    .graphic-design {
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        .icons {
            width: 100%;        
            padding-bottom: 10px;
        }
    } 
}