html, body {
	font-family: 'Open Sans', sans-serif;
}


.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.section-1 {
	width: 100%;
	background: {
		image: url(../img/fon-sec-1.png);
		repeat: no-repeat;
	}	
	padding:{
		top: 32px;
	}	 
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.header {
	padding-bottom: 72px;
}

nav {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 20px;	
	   weight: 800;
    }
}

nav ul {	
    padding-left: 0;
    color: #FFFFFF;
	list-style: none;
}

nav li {
    font:{
	   family: 'Open Sans', sans-serif;
	   size: 20px;	
	   weight: 800;
    }	
	margin-right: 34px;		
	display: inline-block;
}	
	
nav	a {
	    display: block;
		color: #FFFFFF;
	    text-decoration: none;
	
	:hover {
        color: #eeb501;
        text-decoration: none;
	}
}

.logotype {
	a {
		display: block;
	}
}

.menu {
	display: block;
	.icon {
		margin-left: 15px;
	}
}

.main-page {
	
}

.foto-man {
	max-width: 720px;
}

.box-text {	
	max-width: 590px;
}

a {
	text-decoration: none;
}

a:hover {
        color: #eeb501;
        text-decoration: none;
	}

p {
	font:{
		family: 'Open Sans', sans-serif;
	    size: 20px;
	    weight: 400;
    }
	line-height: 14px;	
	color: #FFFFFF;
	margin-bottom: 0;
	line-height: 27px;
}

.text-lorem {
	p {
	   padding-top: 35px;
    }
}

h1 {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 143px;	
	   weight: 800;
    }
    line-height: 115px;
    color: #eeb501;
    margin-top: 0;
}

h2 {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 68px;	
	   weight: 800;
    }
    line-height: 87px;
    margin-bottom: 0;
    margin-top: 0;
    color: #FFFFFF;
}


.buttons {
	display: inline-block;
	padding-bottom: 101px;
	padding-top: 82px;
}

.buttons a {	
	max-width: 210px;	
}

.buttons p {
    font:{	   
	    size: 21px;	
	    weight: 600;
	}
	text-transform: uppercase;
	padding: 15px 15px;
    border: 2px solid #FFFFFF;    	
}




