html, body {
  font-family: 'Open Sans', sans-serif; }

.container {
  margin: 0 auto; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.header a, .general-page a, .choice a {
  color: #FFFFFF;
  text-decoration: none; }
.header a:hover, .general-page a:hover, .choice a:hover {
  color: #eeb501;
  text-decoration: none; }

.text-lorem, .icons, .topic-Lorem, .designer .designer-p {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 0;
  line-height: 35px; }

span {
  font-size: 30px;
  font-style: italic;
  color: #FFFFFF; }

.general-text {
  font-size: 128px;
  font-weight: 800;
  line-height: 115px;
  color: #eeb501;
  margin: 0; }

.upper-text, .lower-text, .text-black, .text-white, .topic-h2, .section-4 .topic-text .specially {
  font-size: 68px;
  font-weight: 800;
  line-height: 87px;
  margin-bottom: 0;
  margin-top: 0;
  color: #FFFFFF; }

.heading-text, .designer .designer-h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
  color: #1e0404; }

.buttons {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 45px;
  border: 2px solid #FFFFFF;
  display: inline-block;
  margin-bottom: 0; }

/* section-1 start ---------------------------*/
.section-1 {
  background: url(../img/fon-sec-1.png) no-repeat;
  padding-top: 32px; }

.header {
  padding-bottom: 72px; }

nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 800; }
  nav .menu {
    padding-left: 0;
    color: #FFFFFF;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px; }
    nav .menu li {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 800;
      margin-left: 34px;
      display: inline-block; }
    nav .menu .icon-search {
      margin-left: 26px; }
    nav .menu .icon-menu {
      margin-left: 16px; }

.general-page .foto-man {
  margin-left: -100px; }
.general-page .box-text {
  display: block;
  margin-right: -60px;
  padding-bottom: 100px; }
  .general-page .box-text a:hover {
    color: #FFFFFF;
    background-color: #eeb501; }

.upper-text {
  padding-top: 10px;
  line-height: 68px; }

.text-lorem {
  padding-top: 35px;
  padding-bottom: 82px; }

/* section-1 finish ------------------------------*/
/* section-2 start   -----------------------------*/
.section-2 {
  background: url(../img/fon-sec-2.png) no-repeat center center;
  background-size: cover; }

.text-black {
  font-size: 43px;
  color: #1e0404;
  padding-left: 10px; }

.text-white {
  font-size: 68px;
  line-height: 68px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #eeb501; }

.skills {
  padding-bottom: 340px;
  padding-top: 72px; }

.icons {
  display: block;
  width: 50%;
  float: left;
  font-size: 15px;
  line-height: 22px;
  color: #1e0404;
  padding: 0 41px 100px; }

.heading-text {
  padding-top: 15px;
  padding-bottom: 15px; }

/* section-2 finish ------------------------------*/
/* section-3 start   -----------------------------*/
.section-3 {
  background: url(../img/fon-sec-3.png) no-repeat center center;
  background-size: cover;
  padding-top: 90px; }

.topic-text {
  padding-bottom: 60px; }

.topic-p {
  margin-bottom: 0; }

.topic-h2 {
  font-size: 43px;
  line-height: 43px; }

.topic-Lorem {
  line-height: 24px; }

.portfolio img {
  vertical-align: top; }

.portfolio {
  display: inline-block;
  padding-bottom: 52px; }
  .portfolio .one {
    float: left;
    width: 49%;
    margin-right: 18px; }
  .portfolio .two {
    width: 23%;
    margin-right: 18px; }
  .portfolio .three {
    width: 23%; }
  .portfolio .for {
    width: 48%;
    padding-top: 18px; }

.choice {
  padding-bottom: 60px; }

/* section-3 finish ------------------------------*/
/* section-4 start   -----------------------------*/
.section-4 {
  background: url(../img/fon-sec-4.png) no-repeat center center;
  background-size: cover;
  padding-top: 100px; }

.section-4 .topic-text span {
  color: #1e0404; }
.section-4 .topic-text .topic-h2 {
  color: #1e0404;
  line-height: 53px; }
.section-4 .topic-text .specially {
  font-size: 43px;
  line-height: 43px;
  color: #eeb501; }

.designers {
  width: 100%;
  display: inline-block; }

.designer {
  float: left;
  padding-bottom: 80px; }
  .designer .designer-h3 {
    padding-top: 38px; }
  .designer .designer-p {
    font-size: 22px;
    color: #4f4f4f; }

.alow {
  width: 24%;
  padding-top: 87px;
  margin-right: 15px; }

.alow-less {
  width: 24%;
  padding-top: 20px; }

.designer-two {
  width: 24%;
  margin-right: 15px; }

/*# sourceMappingURL=style.css.map */