$white: #FFFFFF;
$orange: #eeb501;
$extrabold: 800;
$bold: 600;
$regylar: 400;

html, body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

%for-a {
	a {		
		color: $white;
	    text-decoration: none;
	}
    a:hover {
        color: $orange;
        text-decoration: none;
    }
}

%for-p {
	font:{
		size: 20px;
	    weight: $regylar;
    }
	color: $white;
	margin-bottom: 0;
	line-height: 35px;
}

%for-h1 {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 128px;	
	   weight: $extrabold;
    }
    line-height: 115px;
    color: $orange;
    margin: 0;
}

%for-h2 {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 68px;	
	   weight: $extrabold;
    }
    line-height: 87px;
    margin-bottom: 0;
    margin-top: 0;
    color: $white;
}

.section-1 {
	
	background: url(../img/fon-sec-1.png) no-repeat center center;
	background-size: cover;
		
	padding-top: 32px;	 
}

.header {
	padding-bottom: 72px;
	@extend %for-a;
}

nav {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 20px;	
	   weight: $extrabold;
    }

    .menu {	
        padding-left: 0;
        color: $white;
	    list-style: none;
	    margin-top: 15px;
        margin-bottom: 15px;
        & li {
            font:{
	            family: 'Open Sans', sans-serif;
	            size: 20px;	
	            weight: $extrabold;
            }	
	        margin-left: 34px;		
	        display: inline-block;
        }
        .icon-search {
		    margin-left: 26px;

	    }
        .icon-menu {
		    margin-left: 16px;
        }
	}	
}

.main-page {
    @extend %for-a;	
    .foto-man {
	    margin-left: -100px;
    }
    .box-text {
        display: block;	
	    margin-right: -60px;
	    padding-bottom: 100px; 
	    & a:hover {
	    	color: $white;
	    	background-color: $orange;
	    }
	}    
}

.upper-text {
    @extend %for-h2; 
        line-height: 68px;    
}

.main-text {
	@extend %for-h1;
}

.lower-text {
	@extend %for-h2;
}

.text-lorem {
	padding-top: 35px;
    padding-bottom: 82px;
	@extend %for-p;
}

.buttons {
	font:{	   
	    size: 21px;	
	    weight: $bold;
	}
	text-transform: uppercase;
	padding: 10px 45px;
    border: 2px solid $white;
	display: inline-block;
	margin-bottom: 0;	
}

@media (min-width: 1300px) {
    .foto-man {
    	width: 75%;
	    margin-left: 0;
    }
    .box-text {
        width: 75%;	
	    margin-right: 0;
	    .main-text {
	    	font-size: 20px;
        }
	    .upper-text .lower-text {
	    	font-size: 40px;
	    }












	}
}

@media (min-width: 992) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

} 
@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 575px) {

}

@media (max-width: 320px) {

}




