$white: #FFFFFF;
$orange: #eeb501;
$black: #000;
$brown: #1e0404;
$extrabold: 800;
$bold: 700;
$regylar: 400;
$italic: 600 italic;

html, body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

%for-a {
	a {		
		color: $white;
	    text-decoration: none;
	}
    a:hover {
        color: $orange;
        text-decoration: none;
    }
}

%for-p {
	font:{
		size: 20px;
	    weight: $regylar;
    }
	color: $white;
	margin-bottom: 0;
	line-height: 35px;
}

span {
    font-size: 30px;	
	font-style: italic;
	color: $white; 
}

%for-h1 {
	font:{	   
	   size: 128px;	
	   weight: $extrabold;
    }
    line-height: 115px;
    color: $orange;
    margin: 0;
}

%for-h2 {
	font:{
	    size: 68px;	
	    weight: $extrabold;
    }
    line-height: 87px;
    margin-bottom: 0;
    margin-top: 0;
    color: $white;
}

%for-h3 {
	font:{
	   size: 25px;	
	   weight: $bold;
    }
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 0;
    color: $brown;
}

%for-buttons {
	font:{	   
	    size: 21px;	
	    weight: $bold;
	}
	text-transform: uppercase;
	padding: 10px 45px;
    border: 2px solid $white;
	display: inline-block;
	margin-bottom: 0;	
}

/* section-1 start ---------------------------*/
.section-1 {	
	background: url(../img/fon-sec-1.png) no-repeat;
	padding-top: 32px;	 
}

.header {
	padding-bottom: 72px;
	@extend %for-a;
}

nav {
	font:{
	   family: 'Open Sans', sans-serif;
	   size: 20px;	
	   weight: $extrabold;
    }

    .menu {	
        padding-left: 0;
        color: $white;
	    list-style: none;
	    margin-top: 15px;
        margin-bottom: 15px;
        & li {
            font:{
	            family: 'Open Sans', sans-serif;
	            size: 20px;	
	            weight: $extrabold;
            }	
	        margin-left: 34px;		
	        display: inline-block;
        }
        .icon-search {
		    margin-left: 26px;

	    }
        .icon-menu {
		    margin-left: 16px;
        }
	}	
}

.general-page {
    @extend %for-a;	
    .foto-man {
	    margin-left: -100px;
    }
    .box-text {
        display: block;	
	    margin-right: -60px;
	    padding-bottom: 100px; 
	    & a:hover {
	    	color: $white;
	    	background-color: $orange;
	    }
	}    
}

.upper-text {
    @extend %for-h2;
    padding-top: 10px; 
    line-height: 68px;    
}

.general-text {
	@extend %for-h1;
}

.lower-text {
	@extend %for-h2;
}

.text-lorem {
	padding-top: 35px;
    padding-bottom: 82px;
	@extend %for-p;
}

.buttons {
	@extend %for-buttons;
}

/* section-1 finish ------------------------------*/

/* section-2 start   -----------------------------*/
.section-2 {
    background: url(../img/fon-sec-2.png) no-repeat center center;
	background-size: cover;		
}

.text-black {
	@extend %for-h2;
	font-size: 43px;
	color: $brown;
	padding-left: 10px;
}

.text-white {
	@extend %for-h2;
	font-size: 68px;
	line-height: 68px;
	margin-bottom: 10px;
	padding-left: 10px;
	background-color: $orange;
}

.skills {
	padding-bottom: 340px;
    padding-top: 72px;
}

.graphic-design {
    
}

.icons{
	display: block;
	width: 50%;
	float: left;
    @extend %for-p;
    font-size: 15px;
    line-height: 22px;
    color: $brown;
    padding: 0 41px 100px;
}

.heading-text {
	@extend %for-h3;
	padding-top: 15px;
    padding-bottom: 15px;
}

/* section-2 finish ------------------------------*/

/* section-3 start   -----------------------------*/
.section-3 {
    background: url(../img/fon-sec-3.png) no-repeat center center;
	background-size: cover;
	padding-top: 90px;			
}

.topic-text {
    padding-bottom: 60px;
}

.topic-p {
	margin-bottom: 0;
}

.topic-h2 {
	@extend %for-h2;
	font-size: 43px;
	line-height: 43px;       	 
}

.topic-Lorem {
    @extend %for-p;
    line-height: 24px;
}

.portfolio img {
	vertical-align: top;
   
}

.portfolio {
	display: inline-block;
	padding-bottom: 52px;
	.one {
		float: left;
		width: 49%;
        margin-right: 18px;
	}
	.two {
        width: 23%;    
        margin-right: 18px;
	}
	.three {
		width: 23%;
	}
    .for {
    	width: 48%;
        padding-top: 18px;
    }

}

.choice {
	@extend %for-a;
	padding-bottom: 60px;
}
/* section-3 finish ------------------------------*/

/* section-4 start   -----------------------------*/
.section-4 {
    background: url(../img/fon-sec-4.png) no-repeat center center;
	background-size: cover;
	padding-top: 100px;			
}




@media (min-width: 1300px) {
    
}

@media (min-width: 992) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

} 
@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 575px) {

}

@media (max-width: 320px) {

}




